html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}


#root, #root > div{
  height: 100%;
}

/* #tooltipBtn {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  max-height: 270px;
  background-color: rgba(81, 81, 81, 0.6);
  border-radius: 3px;
  top: 0;
  left: 0;
  font-size: 12px;
  color: white;
  padding: 4px 5px;
  text-align: left;
  z-index: 999 !important;
  word-break: break-word;
  white-space: normal;
  width: max-content;
  max-width: 300px;
  backdrop-filter: blur(4px);
} */

@keyframes delay-status {
  0% {
      opacity: 0;
      visibility: visible;
  }
  60% {
      opacity: 0;
      visibility: visible;
  }
  100% {
      opacity: 1;
      visibility: visible;
  }
}

@keyframes delay-header {
  0% {
      opacity: 0;
      visibility: visible;
  }
  50% {
      opacity: 0;
      visibility: visible;
  }
  100% {
      opacity: 1;
      visibility: visible;
  }
}

@keyframes delay-resize {
  0% {
      opacity: 0;
      visibility: visible;
  }
  50% {
      opacity: 0;
      visibility: visible;
  }
  100% {
      opacity: 1;
      visibility: visible;
  }
}

@keyframes delay-another {
  0% {
      opacity: 0;
      visibility: visible;
  }
  50% {
      opacity: 0;
      visibility: visible;
  }
  100% {
      opacity: 1;
      visibility: visible;
  }
}

@keyframes delay-btn {
  0% {
      opacity: 0;
      visibility: visible;
  }
  100% {
      opacity: 1;
      visibility: visible;
  }
}









/* icon */


[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'W_font' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 13px;
  font-size: 13px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Tablet:before {
  content: "\71";
  color: #9c9b9e;
}

.icon-2:before {
  content: "\77";
  color: #9c9b9e;
}

.icon-1:before {
  content: "\61";
  color: #9c9b9e;
}

.icon-Exclude:before {
  content: "\47";
  color: #9c9b9e;
}

.icon-Exclude-2:before {
  content: "\33";
}

.icon-ukrposhta:before {
  content: "\35";
  color: #ffc627;
}

.icon-Union:before {
  content: "\36";
  color: #9c9b9e;
}

.icon-Union-1:before {
  content: "\37";
  color: #229fff;
}

.icon-Union-2:before {
  content: "\38";
  color: #9c9b9e;
}

.icon-Union-3:before {
  content: "\39";
  color: #da291c;
}

.icon-Union-4:before {
  content: "\30";
}

.icon-Union-12:before {
  content: "\69";
  color: #9c9b9e;
}

.icon-Union-13:before {
  content: "\6f";
  color: #9c9b9e;
}

.icon-Union-14:before {
  content: "\70";
  color: #9c9b9e;
}

.icon-Union-15:before {
  content: "\65";
  color: #9c9b9e;
}

.icon-Union-16:before {
  content: "\73";
  color: #9c9b9e;
}

.icon-Union-17:before {
  content: "\64";
  color: #9c9b9e;
}

.icon-Union-18:before {
  content: "\66";
  color: #e60000;
}

.icon-Vector-81:before {
  content: "\7a";
}

.icon-Vector:before {
  content: "\78";
}

.icon-Vector-1:before {
  content: "\63";
  color: #e60000;
}

.icon-Vector-2:before {
  content: "\76";
  color: #104eff;
}

.icon-Vector-3:before {
  content: "\62";
  color: #fabb0b;
}

.icon-Vector-9:before {
  content: "\52";
  color: #9c9b9e;
}

.icon-Vector-10:before {
  content: "\54";
  color: #9c9b9e;
}

.icon-Vector-11:before {
  content: "\59";
  color: #9c9b9e;
}

.icon-Vector-12:before {
  content: "\55";
  color: #9c9b9e;
}

.icon-Vector-13:before {
  content: "\49";
  color: #9c9b9e;
}

.icon-Vector-14:before {
  content: "\4f";
  color: #9c9b9e;
}

.icon-Vector-15:before {
  content: "\50";
  color: #9c9b9e;
}

.icon-Vector-16:before {
  content: "\41";
  color: #9c9b9e;
}

.icon-Vector-17:before {
  content: "\53";
  color: #9c9b9e;
}

.icon-Vector-18:before {
  content: "\44";
  color: #9c9b9e;
}

.icon-Vector-19:before {
  content: "\46";
  color: #9c9b9e;
}

.icon-Vector-21:before {
  content: "\48";
  color: #9c9b9e;
}

.icon-Windows-1:before {
  content: "\5c";
  color: #9c9b9e;
}

.icon-uniE941:before {
  content: "\2f";
  color: #9c9b9e;
}