<tr class="crm-input" onMouseEnter={e => [...document.querySelectorAll('.wrap-hide')].map(x => x.classList.add('wrap-open'))}>
    <td class="header-search id-table" style={{width: 0}}>
      <div class="wrap-hide">
        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        {/* <div class="btn-wrap-large">
  <input type="text" class="input-btn-large" value="" />
  <div class="block1" data-simplebar="" data-simplebar-auto-hide="false">
      <div class="list-large select-btn"><span class="list-item"><span class="text-lenght">Все</span></span>
      </div>
      <div class="list-large"><span class="list-item"><span class="color-515151 color-form"></span><span class="text-lenght">Новый</span>
          </span>
      </div>
      <div class="list-large"><span class="list-item"><span class="color-91d100 color-form"></span><span class="text-lenght">Принят</span>
          </span>
      </div>
      <div class="list-large"><span class="list-item"><span class="color-fd7777 color-form"></span><span class="text-lenght">Отказ</span>
          </span>
      </div>
      <div class="list-large"><span class="list-item"><span class="color-e2d317 color-form"></span><span class="text-lenght">Отправлен</span>
          </span>
      </div>
      <div class="list-large"><span class="list-item"><span class="color-00CC00 color-form"></span><span class="text-lenght">Завершён</span>
          </span>
      </div>
      <div class="list-large"><span class="list-item"><span class="color-9C02A7 color-form"></span><span class="text-lenght">Успешно выполнено</span>
          </span>
      </div>
      <div class="list-large"><span class="list-item"><span class="color-C94F62 color-form"></span><span class="text-lenght">Успешно не выполнено</span>
          </span>
      </div>
  </div>
</div> */}
        <DropdownLarge data={options} />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />
        
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />

        <input type="text" class="input-style tel-style" />
        <DropdownLarge data={options} />

      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">

      <DropdownLarge data={options} />

      <DropdownLarge data={options} />

        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />

      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />

        <DropdownLarge data={options} />

      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />


      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">

        <input type="text" class="input-style" />

        <DropdownLarge data={options} />

      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />
        {/* <div class="btn-wrap-large">
          <input type="text" class="input-btn-large" value="" />
          <div class="block1" data-simplebar="" data-simplebar-auto-hide="false">
            <div class="list-large select-btn"><span class="list-item"><span class="text-lenght-2">Все</span></span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Розничный магазин</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Розничный магази номер 2</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Розничный магазин номер 2123123</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Отдел АОЕ</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Test</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Black slave</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Оптовый магазин</span>
            </span>
            </div>
          </div>
        </div> */}
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />
        {/* <div class="btn-wrap-large">
          <input type="text" class="input-btn-large" value="" />
          <div class="block1" data-simplebar="" data-simplebar-auto-hide="false">
            <div class="list-large select-btn"><span class="list-item"><span class="text-lenght-2">Все</span></span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Евгений Александрович</span>
            </span>
            </div>
          </div>
        </div> */}
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <div class="date-block"><span>с</span><input id="add-s" type="text" class="input-style date-style" readonly /><span>по</span><input id="add-po" type="text" class="input-style date-style" readonly /></div>
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" readonly /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <div class="date-block"><span>с</span><input id="accept-s" type="text" class="input-style date-style" readonly /><span>по</span><input id="accept-po" type="text" class="input-style date-style" readonly /></div>
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" readonly /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />
                          {/* <div class="btn-wrap-large">
          <input type="text" class="input-btn-large" value="" />
          <div class="block1" data-simplebar="" data-simplebar-auto-hide="false">
            <div class="list-large select-btn"><span class="list-item"><span class="text-lenght-2">Все</span></span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Евгений Александрович</span>
            </span>
            </div>
          </div>
        </div> */}
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" readonly /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <div class="date-block"><span>с</span><input type="text" id="send-s" class="input-style date-style" readonly /><span>по</span><input id="send-po" type="text" class="input-style date-style" readonly /></div>
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <div class="date-block"><span>с</span><input id="fixed-s" type="text" class="input-style date-style" readonly /><span>по</span><input id="fixed-po" type="text" class="input-style date-style" readonly /></div>
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
      <DropdownLarge data={options} />
        {/* <div class="btn-wrap-large">
          <input type="text" class="input-btn-large" value="" />
          <div class="block1" data-simplebar="" data-simplebar-auto-hide="false">
            <div class="list-large select-btn"><span class="list-item"><span class="text-lenght-2">Все</span></span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Лебедев Евгений Александрович</span>
            </span>
            </div>
            <div class="list-large"><span class="list-item"><span class="text-lenght-2">Евгений Александрович</span>
            </span>
            </div>
          </div>
        </div> */}
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <div class="date-block"><span>с</span><input id="finish-s" type="text" class="input-style date-style" readonly /><span>по</span><input id="finish-po" type="text" class="input-style date-style" readonly /></div>
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide">
        <input type="text" class="input-style" />
        <div class="small-buttons">
        <DropdownLarge data={options} />

        <DropdownLarge data={options} />

        <DropdownLarge data={options} />

        <DropdownLarge data={options} />

        </div>
      </div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
    <td class="header-search">
      <div class="wrap-hide"><input type="text" class="input-style" /></div>
    </td>
  </tr>
  