function orderPhoneValidation(value, delimeter = ' ', symbol_block_group = [2, 2, 3, 3], dir = 'rtl') {
if (!value) return '';
let flag = false;
if (value[0] === '+') {
value = value.replace('+', '');
flag = true;
}
// оставляем только цифры
value = value.replace(/[^0-9+]/g, (x) => '');
//value = $.trim(value);

let valueArray = value.split('');
// меняем местами символы если направление rtl
if (dir !== 'rtl') valueArray = valueArray.reverse();

let newValues = [];
//let count_next_symbol = symbol_block_group[0];

for (let i = 0, count = symbol_block_group.length; i < count; i++) { // получаем часть строки по индексу с блока группы
    let current_val_array=valueArray.splice(-1 * symbol_block_group[i], symbol_block_group[i]);
    //console.log(current_val_array); if (!current_val_array || current_val_array.length < 1) break; let
    current_val=current_val_array.join(''); //count_next_symbol +=symbol_block_group[i]; newValues[i]=current_val; } if
    (dir==='rtl' ) newValues=newValues.reverse(); let restVal='' ; if (!!valueArray && valueArray.length> 0) {
    restVal = valueArray.join('');
    }

    newValues.unshift(restVal);

    let validate_value = newValues.join(delimeter);

    if (validate_value[0] === delimeter) validate_value = validate_value.slice(1);
    if (flag === true) {
    validate_value = '+' + validate_value;
    }
    return validate_value;
    }


    const onChanges = () => {
    let el = document.querySelector('.input-user-phone');
    let temp = el.value.replace('+', '');

    if (temp.length === 12) {
    el.value = '+38 0' + temp;
    } else if (temp.length === 13) {
    el.value = '+38 ' + temp;
    } else if (temp.length === 14) {
    el.value = '+38' + temp;
    } else if (temp.length === 15) {
    el.value = '+3' + temp;
    } else if (temp.length === 16) {
    el.value = '+' + temp;
    }
    if (temp.length < 12 && temp.length !==0) { setIcon('icon-Union-18') } else { setIcon('icon-Union') if
        (temp.length==0) { setIcon('icon-uniE941') } } let operator=el.value.replace('+', '' ).substring(0, 6); if
        (operator==='38 068' || operator==='38 067' || operator==='38 097' || operator==='38 098' || operator==='38 096'
        ) { setIcon('icon-Union-1') } else if (operator==='38 050' || operator==='38 066' || operator==='38 095' ||
        operator==='38 099' ) { setIcon('icon-Vector-1') } else if (operator==='38 063' || operator==='38 093' ||
        operator==='38 073' ) { setIcon('icon-Vector-3') } if (el.value.length==0 || el.value.length==1) {
        document.querySelector('.tel-sms-block').style.display='none' ; } else {
        document.querySelector('.tel-sms-block').style.display='flex' ; } // if (el.value.length==1) { // el.value='' ;
        // } }