.wrapper {
    width: calc(100% - 17px);
    max-height: 90px;
    position: relative;
}
.wrapper > div {
    overflow-y: scroll;
    max-height: inherit;
    width: calc(100% + 17px);
}

.bg-scroll .scroll {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    width: 3px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
}
.bg-scroll {
    position: absolute;
    width: 3px;
    height: calc(100% - 10px);
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
}
.tooltips {
    display: block;
    user-select: none;
    background-color: rgba(135, 135, 135, 0.75);
    border-radius: 3px;
    font-size: 11px;
    color: white;
    padding: 2px 5px;
    text-align: left;
    z-index: 10000 !important;
    word-break: break-word;
    width: max-content;
    max-width: 300px;
    white-space: pre-wrap;
    font-family: "Roboto", sans-serif;
}

.wraps {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -2px;
    border-radius: 5px;
    background-color: rgba(135, 135, 135, 0.85);
}


.block1 .list-small:hover .wraps,
.block1 .list-medium:hover .wraps,
.block1 .list-large:hover .wraps {
    transition: 0.3s;
    visibility: visible;
    opacity: 1;
}
